name: Scan for secrets

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: checking gitleaks action
        uses: cguajardo-imed/action@v0.0.2
        id: gitleaks

      - name: Get Gitleaks Report
        if: always()
        run: \
          echo "${{ steps.gitleaks.outputs }}"
          echo "$GITHUB_OUTPUT"
        
